$mainFont: 'Merriweather', sans-serif;

$mainColor: rgb(85,85,85);
$additionalColor: white;
$hoverColor: #bfba55;
$headingTextColor: $hoverColor;
$articleHeadingColor: #000;
$textColor: #777;
$borderColor: rgb(240,240,240);

$footerBackgroundColor: #000;

$fontSizes: ("tiny": 10px, "small": 14px, "medium": 18px, "large": 24px);
$headingFontSize: 60px;